# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8.2
language: objective-c
xcode_workspace: PersistentSwift
xcode_scheme: PersistentSwift_Tests
#cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- brew cask install fastlane
- brew install swiftlint
- pod repo update
- pod install --project-directory=Example
- echo y | fastlane snapshot reset_simulators
script:
- xcodebuild -workspace Example/PersistentSwift.xcworkspace -scheme PersistentSwift-Example -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=10.2,name=iPhone 5' build-for-testing test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
after_success:
- cd Example/
- bash <(curl -s https://codecov.io/bash)