# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8.2
language: objective-c
xcode_workspace: PersistentSwift
xcode_scheme: PersistentSwift_Tests
#cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod repo update
- pod install --project-directory=Example
script:
- xcodebuild -workspace Example/PersistentSwift.xcworkspace -scheme PersistentSwift-Example -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 5,OS=10.2' build-for-testing test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
